body.flash {
  animation: flash 0.3s;
}

@keyframes flash {
  from { background: white; }
  to { background: black; }
}

#card img {
  width: 120px;
  animation: shake 0.3s;
}

@keyframes shake {
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
}
