@keyframes shake{
  0%{transform:translate(0)}
  25%{transform:translate(5px)}
  50%{transform:translate(-5px)}
  75%{transform:translate(5px)}
}
.shake{animation:shake 0.4s}

.flash{
  animation:flash 0.3s;
}
@keyframes flash{
  from{background:#fff}
  to{background:#000}
}
