body {
background: black;
color: white;
text-align: center;
}


#app {
max-width: 600px;
margin: auto;
}


.card-container {
display: flex;
justify-content: center;
flex-wrap: wrap;
}


.card {
width: 70px;
margin: 4px;
}


.cardBox {
display: flex;
flex-direction: column;
align-items: center;
}


.cardPower {
font-size: 12px;
background: #333;
padding: 2px 6px;
border-radius: 4px;
}