body {
  background: radial-gradient(#333, #000);
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hidden {
  display: none;
}

#join, #game {
  background: #222;
  padding: 20px;
  border-radius: 16px;
  width: 320px;
  text-align: center;
  box-shadow: 0 0 20px #000;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: none;
}

button {
  background: gold;
  font-weight: bold;
  cursor: pointer;
}

#players div {
  margin-top: 5px;
}

ul {
  text-align: left;
  margin-top: 10px;
}
